<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.scss">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/componentes.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col bg-success d-flex align-items-center justify-content-end p-3">
        <a href="/views/home.html" class="text-decoration-none text-light m-0">Home</a>
        <span class="text-light ms-2 me-2"> / </span>
        <p class="text-light m-0">Login</p>
        <img src="/img/icon-flecha-apuntando-hacia-abajo.png"
          class="ms-1 iconFlechaAbj" alt="flecha_apuntando_hacia_abajo">
      </div>
    </div>
  </div>
  
  <div class="login-container">
    <div class="login-box">
      <h2 class="text-center">Ingresar</h2>
      <form id="loginForm">
        <!--Contenedor de alertas-->
        <div id="alertContainer"></div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese su nombre de usuario">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>
      </form>
      <div class="text-center mt-3">
        <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-bg-primary text-center text-lg-start">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 ps-5 lineadiv">
        <div class="pt-4 p-md-5">
          <h3 class="fw-bold lineaSelect">Información de contacto</h3>
          <p class="p-1">Carr. Moctezuma a Cumpas Km. 2.5 Interior <br>Universidad de la Sierra 84560 Moctezuma, Sonora,
            México</p>
          <p class="p-1">Teléfono: (+52) 634 3456</p>
          <p class="p-1">Correo: <a href="mailto:support@suport.com" class="text-white">support@sutus.com</a></p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 text-center lineadiv">
        <div class="p-0 p-md-5">
          <h3 class="fw-bold lineaSelect">Galería de fotos</h3>
          <p>Consulta la galería de fotos</p>
          <div class="row pt-3">
            <div class="offset-3 col-2">
              <a href="#">
                <img src="/img/ImagenUnisierra1.jpg" alt="Foto 1"
                  class="img-fluid" class="">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/img/ImagenUnisierra2.jpg" alt="Foto 2"
                  class="img-fluid" class="">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/img/ImagenUnisierra3.jpg" alt="Foto 3"
                  class="img-fluid" class="">
              </a>
            </div>
          </div>
          <div class="row pt-3">
            <div class="offset-3 col-2">
              <a href="#">
                <img src="/img/ImagenUnisierra4.jpg" alt="Foto 4"
                  class="img-fluid" class="">
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <img src="/img/ImagenUnisierra5.jpg" alt="Foto 5"
                  class="img-fluid" class="">
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <img src="/img/ImagenUnisierra6.jpg" alt="Foto 6"
                  class="img-fluid" class="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="d-flex justify-content-center">
          <h3 class="fw-bold lineaSelect">Ubicanos</h3>
        </div>
        <div class="d-flex justify-content-center">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3461.4004419916787!2d-109.67844439999999!3d29.8238611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjnCsDQ5JzI1LjkiTiAxMDnCsDQwJzQyLjQiVw!5e0!3m2!1ses-419!2smx!4v1730752694377!5m2!1ses-419!2smx"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            class="ubicacion">
          </iframe>
        </div>
      </div>

    </div>
  </footer>

  <div class="container-fluid text-center p-3 text-bg-terciary">
    <div class="row justify-content-between">
      <div class="col-3" style="height: 45px;">
        <div class="d-flex justify-content-center">
          <div class="p-2 me-4" style="background-color: #7995AB;"><a
              href="https://www.facebook.com/people/Sindicato-%C3%9Anico-de-Trabajadores-de-la-Universidad-de-la-Sierra/61566971434328/"><img
                src="/img/iconfacebook.png" alt=""></a></div>
          <div class="p-2 me-4" style="background-color: #7995AB;"><img
              src="/img/iconinstagram.png" alt=""></div>
          <div class="p-2 me-4" style="background-color: #7995AB;"><img
              src="/img/iconx.png" alt=""></div>
          <div class="p-2" style="background-color: #7995AB;"><img
              src="/img/iconlinkedin.png" alt=""></div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center" style="height: 45px;">
        <p class="m-0 text-light">© 2024 Todos los derechos reservados.</p>
      </div>
    </div>
  </div>

  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>