<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Empleado</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.scss">
    <link rel="stylesheet" href="/css/componentes.css">
</head>
<body>
    <div class="container-fluid">
        <div class="Row">
            <div class="col-12 d-flex align-items-center justify-content-start ps-3">
                <a href="/views/miPerfil.html" class="text-decoration-none">
                  <img src="/img/icons-flecha-volver.png"
                    class="rotate-180" alt="flecha_volver">
                </a>
              </div>
        </div>
      </div>
    <div class="container mt-5">
        <div class="col-12 d-flex align-items-center justify-content-between pt-4 pb-4">
            <h1 class="fs-3 fs-md-1">Modifica tu información</h1>
        </div>
        <hr class="lineaSeccCont ms-3">
        <form id="employeeForm" class="row g-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="primerApellido" class="form-label">Primer Apellido</label>
                <input type="text" class="form-control" id="primerApellido" name="primer_apellido">
            </div>
            <div class="col-md-6">
                <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control" id="segundoApellido" name="segundo_apellido">
            </div>
            <div class="col-md-6">
                <label for="domicilioTrabajador" class="form-label">Domicilio</label>
                <input type="text" class="form-control" id="domicilioTrabajador" name="domicilio">
            </div>
            <div class="col-md-6">
                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="fecha_nacimiento">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Modificar mi informacion</button>
            </div>
        </form>
    </div>    
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/modificarInformacion.js"></script>
</body>
</html>