<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas</title>
    <link rel="stylesheet" href="/Sindicato-Sutus-PaginaWeb/src/presentation/public/css/main.css">
    <link rel="stylesheet" href="/Sindicato-Sutus-PaginaWeb/node_modules/bootstrap/scss/bootstrap.scss">
</head>
<body>
    <button id="prueba" class="btn btn-primary" type="button">
        <i class="fas fa-print"></i> Descargar PDF
    </button>
    <script src="/Sindicato-Sutus-PaginaWeb/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="/Sindicato-Sutus-PaginaWeb/src/presentation/public/js/pruebas.js"></script>
</body>
</html>